*{
    border: 1px solid red;
}
html{
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: conic-gradient(
            from 90deg at 60% 15%,
            #5f5f5f, 
            #000000
        );
}

/* Кнопка сохранения */
.teacher,
.student {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.teacher:hover{
    background-color: #3b3d3b;
}

.student:hover {
    background-color: #3b3d3b;
}

a{
    text-decoration: none;
}

.vbr h1{
    display: flex;
    justify-content: right;
    font-size: 55px;
    color: rgb(255, 255, 255);
}

.blok_vbr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgb(53, 53, 53);
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    width: 400px;
}

@media (max-width: 768px) {
    h1{
        display: flex;
        justify-content: right;
        font-size: 15px;
        color: rgb(255, 255, 255);
    }

}